<html>
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <title>{{.Site.Title}} | {{.Title}}</title>
     <link rel="stylesheet" href="/css/site.css">

</head>
<body>
    {{ partial "navbar" . }}
     <div class="container">
         <center><h1>{{.Title}}</h1></center>
         <div class="image-container">
             <div class="circular-wrapper" style="width: 150px; height: 150px">
                <img src="/images/whurbin_logo.png", alt="Circular Image" class="circular-image">
             </div>
         </div>
        
         {{.Content}}
     </div>
     {{ partial "footer" . }}
</body>
</html>
