<!DOCTYPE html>
<html>
    <head>
        <title>Whurbin | 429</title>
        <link rel="stylesheet" href="/css/site.css">
    </head>
<!-- -->
    <body>
            {{ partial "navbar.html" }}
        <div class="container">
            <center>
                <h1>429 - Too Many Requests</h1>
                <a href="https://www.youtube.com/watch?v=G1IbRujko-A&rel=0">
                    <img src="/images/qrcode.png" class="qrcode-hover">
                </a>
            </center>
        </div>
    </body>

</html>
